<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles/style.css') }} />
    <link rel="stylesheet" href={{ url_for('static', filename='styles/bootstrap.css') }} />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="icon" href="icon.png" />
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark" id="navbar">
        <a class="navbar-brand" href="/">
            <img src="icon.png">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item navbar-dark">
                <a class="nav-link" href="/">Strona główna</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item navbar-dark">
                <a class="nav-link" href="/home">Panel użytkownika</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item navbar-dark" id="log">
            </li>
        </ul>
    </nav>

    <br>

    <form action="/loginUser" method="POST" class="jumbotron">
        {% if messege %}
        <div class="alert alert-warning">
            <strong>Nie udało sie zalogować:</strong> {{ messege }}
        </div>
        {% endif %}

        <div class="form-group">
            <label for="username">Login:</label>
            <input type="text" class="form-control" name="username" placeholder="Wpisz nazwę uzytkownika">
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" class="form-control" name="password" placeholder="Wpisz hasło">
        </div>
        <input type="submit" class="btn btn-info" value="Zaloguj">
    </form>

    <div class="jumbotron">
        <p>
            Nie masz konta?
        </p>
        <a class="btn btn-info" href="/register">Zarejestruj się!</a>
    </div>

    <div type="hidden" id="msg" value="{{ messege }}"></div>
</body>
</html>